<section class="hero is-medium is-link">
    <div class="hero-body container">
        <h1 class="title">Welcome to Sense</h1>
        <h2 class="subtitle">Authentic news, powered by you.</h2>
    </div>
</section>