<h1 class="title">Headlines</h1>

<% getFive(0).each do |article| %>
    <p><%= article.title %></p>
<% end %>
<% getFive(1).each do |article| %>
    <p><%= article.title %></p>
<% end %>
<% getFive(2).each do |article| %>
    <p><%= article.title %></p>
<% end %>
<% getFive(3).each do |article| %>
    <p><%= article.title %></p>
<% end %>

