/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


// define all bulma variables
$brand-dark: #2d0c03;
$brand-brown: #98514b;
$brand-cream: #f8b786;
$brand-red: #ff1a4a;
$brand-light: #f4f6ec;

$primary: $brand-red;
$link: $brand-red;
$dark: $brand-dark;

@import "bulma";

.notification {
    position: fixed;
    bottom: 0;
    z-index: 200;
    animation: fadeOut 0.5s forwards ease-out 2.5s 1;

    &:empty {
        display: none;
    }
}

#flash-alert {
    left: 1.5rem;
}

#flash-notice {
    right: 1.5rem;
}

body, html {
    background-color: #f9fbff;
}

.container {
    .small-width {
        width: 35%;
        margin: auto;
    }
}