.card {
    border-radius: 5px;

    .card-image img {
        border-radius: 5px 5px 0 0;
    }
}

.news-image {
    margin-bottom: 1em;
}

.news {
    .description {
        padding-top: 1em;
    }
}

#news-top {
    .posts {
        margin-left: 3em;
    }
}

#news-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

    .card {
        grid-column: auto;
        grid-row: auto;
    }
}